<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" aria-expanded="false" (click)="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="/" class="navbar-brand">Limelight Assignment</a>
    </div>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/posts">Posts</a>
        </li>
        <li>
          <a routerLink="/albums">Albums</a>
        </li>
        <li>
          <a routerLink="/todos">Todos</a>
        </li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a target="_blank" href="//{{ user.website }}">{{ user.name }} ({{ user.company.name }})</a>
        </li>
        <li>
          <a href="javascript:void(0);" (click)="logoutLink($event)">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>