<div class="container" *ngIf="!userLoggedIn">

  <form [ngClass]="{'has-error': error}" class="form-signin" (submit)="gotoDashboard($event)">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Login Name</label>
    <input id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" type="email">
    <span *ngIf="error" class="help-block">{{ errmessage }}</span>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

</div>